#Payment{
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 6rem 1rem;
    animation: FadeIn 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
@media all and (orientation: portrait){
    #Payment{
        padding-bottom: 9rem;
    }
}
#Payment-Goback{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    color: var(--color-grey-dark);
}
#Payment-Goback>i{
    margin-right: 0.5rem;
}
#Payment-Goback:hover{
    cursor: pointer;
}
@media all and (orientation: portrait){
    #Payment{
        padding-top: 3rem;
    }
}
#Payment-Select{
    width: 100%;
    margin-bottom: 1.5rem;
}
#Payment-Select>div.slick-slider,
#Payment-Select>div.slick-slider>div.slick-list,
#Payment-Select>div.slick-slider>div.slick-list>div.slick-track,
#Payment-Select>div.slick-slider>div.slick-list>div.slick-track>div,
#Payment-Select>div.slick-slider>div.slick-list>div.slick-track>div>div{
    height: 100%;
}
#Payment-Select div.Card-Denomination{
    width: 60%;
    transform: scale(0.8);
    transition: 1s;
}
@media all and (orientation: portrait){
    #Payment-Select div.Card-Denomination{
        width: 75%;
    }
}
#Payment-Select div.slick-center div.Card-Denomination{
    transform: scale(1);
}
#Payment-Select div.Card-Arbitrary{
    width: 15rem;
}
#Payment-Select input{
    display: block;
    margin: 1rem auto auto auto;
    width: 80%;
    max-width: 20rem;
    color: var(--color-black-dark);
    text-align: center;
    border-bottom: 1px solid var(--color-black-normal);
    transition: 1.5s;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
#Payment-Select input::placeholder{
    color: var(--color-grey-dark);
}
#Payment-Select input:invalid{
    border-bottom: 3px solid var(--color-red-light);
    color: var(--color-red-light);
}
#Payment-Checkout{
    width: 100%;
    max-width: 30rem;
    height: 20rem;
    padding: 0.75rem 5%;
    margin: 0 auto 2.5rem auto;
    background: linear-gradient(var(--color-black-light), var(--color-black-dark));
    border: 0.5px solid var(--color-black-dark);
    box-shadow: 0 0 2rem 0 var(--color-black-light);
    border-radius: 0.5rem;
}
#Payment-Checkout>p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    color: var(--color-white-dark);
}
#Payment-Checkout>p:last-child{
    margin-bottom: 0;
}
#Payment-Checkout>p>span{
    color: var(--color-white-light);
    font-weight: 600;
}
#Payment-Checkout>p>span>i{
    font-style: normal;
    font-size: var(--font-size-large);
    color: var(--color-gold-dark);
}
#Payment-Checkout>p.Title{
    color: var(--color-gold-light);
    font-weight: 600;
    font-size: var(--font-size-large);
    justify-content: center;
    margin-bottom: 1.25rem;
}
#Payment-Checkout>p.Divider{
    border-bottom: 0.1rem dashed var(--color-gold-dark);
}
#Payment-Checkout>p.Credit{
    margin-bottom: 0.25rem;
}
#Payment-Checkout>p.Credit>button{
    font-size: var(--font-size-small);
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
}
#Payment-Checkout>p.Credit>span,
#Payment-Checkout>p.Credit>span>i{
    color: var(--color-cyan-light);
}
#Payment-Checkout>p.Detailed{
    font-size: var(--font-size-small);
    margin-bottom: 1rem;
    color: var(--color-gold-dark);
}
#Payment-Checkout>p.Detailed:hover{
    cursor: pointer;
}
#Promotion-Explanation{
    padding: 1rem 0;
}
#Promotion-Explanation>p{
    text-align: left;
    font-size: var(--font-size-small);
    margin: 1rem 0;
    text-transform: none;
    font-weight: 400;
    color: var(--color-black-dark);
}
#Promotion-Explanation>p:first-child{
    font-size: var(--font-size-large);
    font-weight: 600;
    text-align: center;
}
#Promotion-Explanation>p>span{
    font-weight: 600;
    color: var(--color-red-dark);
}


