#Orders{
    width: 100%;
    height: calc(100% - 5rem);
    padding: 0.75rem 2rem 2.5rem 2rem;
    animation: FadeIn 1.5s;
}
#Orders>p.Title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background: linear-gradient(var(--color-black-dark), var(--color-black-light));
    border-radius: 0.5rem;
    border: 1px solid var(--color-black-dark);
    box-shadow: 0 0 1rem 0 var(--color-black-dark);
    color: var(--color-white-dark);
    font-weight: 600;
    font-size: var(--font-size-extra);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}
#Orders-Filter{
    margin: auto auto 0.5rem auto;
    width: 100%;
    max-width: 32rem;
    padding: 0.25rem 1rem;
    background: linear-gradient(var(--color-black-dark), var(--color-black-light));
    border-radius: 0.5rem;
    border: 1px solid var(--color-black-dark);
    box-shadow: 0 0 1rem 0 var(--color-black-dark);
    color: var(--color-white-dark);
}
#Orders-Filter>p.Title{
    color: var(--color-gold-light);
    font-weight: 500;
    font-size: var(--font-size-large);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
#Orders-Filter-Form>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
#Orders-Filter-Form>div:last-child{
    margin-bottom: 0;
}
#Orders-Filter-Form>div>label{
    width: 6rem;
}
#Orders-Filter-Form>div>label>i{
    margin-right: 1rem;
    width: 1.5rem;
    text-align: center;
}
#Orders-Filter-Form>div>input{
    width: calc(100% - 8rem);
}
#Orders-Filter-Form>div>button{
    width: 8rem;
    padding: 0.125rem 0;
}
#Orders-Detail{
    width: 100%;
    height: 18rem;
    position: relative;
    padding: 0 1rem;
}
#Orders-Detail>div.Title{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    position: relative;
}
#Orders-Detail>div.Title>span{
    color: var(--color-cyan-dark);
    font-weight: 600;
}
#Orders-Detail>div.Title>p{
    font-size: var(--font-size-minor);
    margin-left: 0.5rem;
    position: absolute;
    right: 0.5rem;
}
#Orders-Detail>div.Title>p>span{
    color: var(--color-red-light);
}
#Orders-Detail>i{
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% + 1.5rem));
    font-size: var(--font-size-large);
    color: var(--color-cyan-dark);
}
#Orders-Detail>i.Left{
    left: -1rem;
}
#Orders-Detail>i.Right{
    right: -1rem;
}
#Orders-Detail>i:hover{
    cursor: pointer;
}
#Orders-Detail-Show{
    height: calc(100% - 1rem);
    max-width: 24rem;
    margin: auto;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(var(--color-black-dark), var(--color-black-light));
    border-radius: 0.5rem;
    border: 1px solid var(--color-black-dark);
    box-shadow: 0 0 1rem 0 var(--color-black-dark);
}
#Orders-Detail-Show>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white-dark);
    margin-bottom: 0.125rem;
}
#Orders-Detail-Show>div:last-child{
    margin-bottom: 0;
}
#Orders-Detail-Show>div:first-child>img{
    height: 3rem;
}
#Orders-Detail-Show>div:first-child>p{
    font-size: var(--font-size-large);
    color: var(--color-gold-light);
}
#Orders-Detail-Show>div:first-child>p>i{
    font-size: var(--font-size-extra);
    font-style: normal;
}
#Orders-Detail-Show>div:nth-child(2)>p:last-child{
    color: var(--color-red-light);
}
#Orders-Detail-Show>div:nth-child(2)>p>i{
    font-style: normal;
}
#Orders-Detail-Show>div:nth-child(3)>p:last-child{
    color: var(--color-cyan-light);
}
#Orders-Detail-Show>div:nth-child(3)>p>i{
    font-style: normal;
}
#Orders-Detail-Show>div:nth-child(4)>p:last-child{
    color: var(--color-gold-dark);
}
#Orders-Detail-Show>div:nth-child(4)>p>i{
    font-style: normal;
}
#Orders-Detail-Show>div:nth-child(5)>p:last-child,
#Orders-Detail-Show>div:nth-child(6)>p:last-child,
#Orders-Detail-Show>div:nth-child(7)>p:last-child{
    font-size: var(--font-size-small);
}
#Orders-Detail-Show>div:nth-child(5)>p>i,
#Orders-Detail-Show>div:nth-child(6)>p>i{
    font-style: normal;
    font-size: var(--font-size-normal);
    font-weight: 600;
}
#Orders-Detail-Show>div:nth-child(8)>p:last-child,
#Orders-Detail-Show>div:nth-child(9)>p:last-child{
    font-size: var(--font-size-small);
    color: var(--color-green-light);
    font-weight: 600;
}
#Orders-Detail-Show>div:nth-child(8)>a{
    color: var(--color-blue-light);
    font-weight: 600;
}
#Orders-None{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18rem;
    color: var(--color-red-light);
    font-weight: 500;
    text-transform: uppercase;
}
#Orders-None>i{
    font-size: var(--font-size-extra);
}
