#pre-form>button,
#success-form>button{
    padding: 0.25rem 0.5rem;
    display: block;
    width: 100%;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-size-small);
}
#form-0>p.Goback{
    text-align: left;
    padding: 0 1.25rem;
    color: var(--color-grey-normal);
}
#form-0>p.Goback>span:hover{
    cursor: pointer;
}