#Credential{
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
    animation: FadeIn 2s;
}
#Credential>div:first-child{
    width: 100%;
}
#Credential>div.slick-slider{
    height: 85%;
}
@media all and (orientation: portrait) and (max-width: 767px){
    #Credential>div.slick-slider{
        height: 80%;
    }
}
#Credential div.FormSnippet{
    height: 100%;
    padding: 0.25rem 0.5rem;
    position: relative;
    transform: scale(0.9);
    transition: 0.75s;
}
#Credential div.FormSnippet:focus{
    outline: none !important;
}
#Credential div.FormSnippet>div{
    border-radius: 0.25rem;
    box-shadow: 0px 0px 0.75rem 0 var(--color-black-light);
    height: calc(100% - 1rem);
    color: var(--color-white-normal);
    position: relative;
}
#Credential .slick-slide.slick-center div.FormSnippet{
    transform: scale(1);
}
#Credential div.FormSnippet.Form-1>div{
    background: linear-gradient(var(--color-blue-darkest), var(--color-blue-dark));
    border: 1px solid var(--color-blue-dark);
}
#Credential div.FormSnippet.Form-2>div{
    background: linear-gradient(var(--color-black-dark), var(--color-black-light));
    border: 1px solid var(--color-black-light);
}
#Credential div.FormSnippet.Form-3>div{
    background: linear-gradient(var(--color-green-darkest), var(--color-green-dark));
    border: 1px solid var(--color-green-dark);
}
#Credential div.FormSnippet>span.Arrow::after{
    content: "";
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent; 
    position: absolute;
    bottom: 0.25rem;
    left: calc(50% - 1rem);
    filter: drop-shadow(0px 0 0.125rem var(--color-grey-dark));
}
#Credential div.FormSnippet.Form-1>span.Arrow::after{
    border-top:1rem solid var(--color-blue-dark); 
}
#Credential div.FormSnippet.Form-2>span.Arrow::after{
    border-top:1rem solid var(--color-black-light); 
}
#Credential div.FormSnippet.Form-3>span.Arrow::after{
    border-top:1rem solid var(--color-green-dark); 
}
#Credential>button.Confirm{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}
ul.slick-dots button{
    box-shadow: none;
}

/* The followings are for formsnippts' content */
#Credential div.FormSnippet>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
}
#Credential div.FormSnippet>div>.Title{
    width: 100%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    animation: TitleScrollAnimation 6s forwards;
    margin-bottom: 1.25rem;
    text-align: center;
}
#Credential div.FormSnippet>div>.Title>i{
    margin-right: 1rem;
    font-size: var(--font-size-large);
}