#Shop{
    width: 100%;
    height: calc(100% - 5rem);
    padding: 0.75rem 2rem 2.5rem 2rem;
}
#Shop-Nav{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Shop-Nav>div:first-child>a{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.125rem 0.25rem;
    color: var(--color-grey-dark);
    transition: 1.25s;
}
#Shop-Nav>div:first-child>a.Active{
    color: var(--color-gold-dark);
}
#Shop-Nav>div:first-child>a>span{
    font-size: var(--font-size-small);
    font-weight: 600;
}
#Shop-Nav>div:first-child>a:first-child{
    margin-right: 1rem;
}
#Shop-Nav>div:last-child{
    padding: 0.125rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-grey-dark);
    transition: 1.25s;
}
#Shop-Nav>div:last-child:hover{
    color: var(--color-gold-dark);
    cursor: pointer;
}
#Shop-Nav>div:last-child>span{
    font-size: var(--font-size-small);
    font-weight: 600;
}
#Shop-Content{
    height: 90%;
}
#Shop-Seachbox{
    color: var(--color-black-dark);
    font-weight: 600;
}
#Shop-Seachbox input{
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 1px solid var(--color-black-dark);
    text-align: center;
    letter-spacing: 0.1rem;
    color: var(--color-black-dark);
    font-weight: 600;
}
#Shop-Seachbox input::placeholder{
    color: var(--color-black-light);
    font-weight: 300;
}
#Shop-Seachbox>div.Filter{
    margin: 2.5rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Shop-Seachbox>div.Filter>div{
    flex-grow: 1;
}
#Shop-Seachbox>div.Filter>div:first-child{
    padding-right: 0.5rem;
}
#Shop-Seachbox>div.Filter>div:last-child{
    padding-left: 0.5rem;
}
#Shop-Seachbox>div.Content{
}