div.EmailVerify{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white-light);
}
div.EmailVerify>p{
    margin-bottom: 0.5rem;
}
div.EmailVerify>p.Title{
    font-size: var(--font-size-extra);
    font-weight: 500;
    margin-bottom: 1rem;
}
div.EmailVerify>button{
    margin-top: 1rem;
    border: 0.1rem solid var(--color-grey-normal);
    box-shadow: 0 0 0.2rem 0 var(--color-grey-dark);
}
div.EmailVerify.Fail{
    background: linear-gradient(var(--color-red-dark), var(--color-red-light));
}
div.EmailVerify.Success{
    background: linear-gradient(var(--color-green-dark), var(--color-green-light));
}
/*
div.EmailVerify-Fail,
div.EmailVerify-Success{
    padding: 0.5rem 1rem;
}
div.EmailVerify-Fail>p,
div.EmailVerify-Success>p{
    margin: 0;
    color: var(--color-white-dark);
}
div.EmailVerify-Fail>p.Title,
div.EmailVerify-Success>p.Title{
    font-size: 1.35rem;
    text-align: center;
    margin-bottom: 1.25rem;
}
div.EmailVerify-Fail>p.Title{
    color: var(--color-red-light);
}
div.EmailVerify-Success>p.Title{
    color: var(--color-gold-light);
}
*/