#Shop-Grid{
    width: 100%;
    height: 100%;
    color: var(--color-black-light);
    animation: FadeIn 1.5s;
}
#Shop-Grid p.Title{
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    height: 1.5rem;
}
#Shop-Grid-Featured{
    height: 12rem;
    padding: 0.75rem 0;
}
#Shop-Grid-Featured>div.Content{
    height: calc(100% - 1.5rem);
}
#Shop-Grid-Featured>div.Content>div.slick-slider{
    height: 100%;
}
#Shop-Grid-Featured>div.Content div.slick-center div.Card-Featured{
    transform: scale(1);
}
#Shop-Grid-Brands{
    height: calc(100% - 12rem);
    padding-top: 1rem;
}
#Shop-Grid-Brands>div.Pagination{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 7.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
#Shop-Grid-Brands>div.Pagination>p{
    color: var(--color-grey-normal);
    font-size: var(--font-size-large);
}
#Shop-Grid-Brands>div.Pagination>p:hover{
    cursor: not-allowed;
}
#Shop-Grid-Brands>div.Pagination>p.Active{
    color: var(--color-gold-dark);
}
#Shop-Grid-Brands>div.Pagination>p.Active:hover{
    cursor: pointer;
}
#Shop-Grid-Brands>div.Pagination>span{
    margin: 0 1.25rem;
    padding: 0.25rem 1rem;
    color: var(--color-black-dark);
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid var(--color-black-dark);
    animation: PageBorderShining 0.75s ease-in-out infinite alternate;
}
#Shop-Grid-Brands>div.Pagination>span:hover{
    cursor: text;
}
@keyframes PageBorderShining {
    0%{border-color: var(--color-black-dark)}
    100%{border-color: transparent}
}
#Shop-Grid-Brands>div.Content{
    height: calc(100% - 4rem);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

#Shop-Grid-Brands>div.Content>div.Card{
    width: 8rem;
    height: 8rem;
}
@media all and (max-aspect-ratio: 4/5){
    #Shop-Grid-Brands>div.Content>div.Card{
        width: 10rem;
        height: 10rem;
    }
}
#Shop-Jump-Content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#Shop-Jump-Content>p{
    color: var(--color-black-light);
    font-size: var(--font-size-large);
    font-weight: 600;
    margin-bottom: 1.5rem;
}
#Shop-Jump-Content>input{
    text-align: center;
    margin-bottom: 1.5rem;
    width: 10rem;
}
#Shop-Jump-Content>button{
    padding: 0.25rem 1.5rem;
    min-width: 10rem;
}