#Idenity-Phone-Form>div.Inline-Input{
    max-width: 25rem;
}
#Idenity-Phone-Form>div.Inline-Input>label{
    font-size: var(--font-size-extra);
}
#Idenity-Phone-Form>div.Inline-Input>input{
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    letter-spacing: 0.5rem;
    border-color: var(--color-grey-dark);
    color: var(--color-black-dark);
    font-weight: 600;
    text-align: center;
}
#Idenity-Phone-Form>div.Inline-Input>input.Checked:invalid{
    border-color: var(--color-red-light);
}
#Idenity-Phone-Form>div.Inline-Input>input::placeholder{
    color: var(--color-grey-dark);
    font-weight: 300;
}
#Idenity-Phone-Form>div.Inline-Input>span.Symbol{
    color: var(--color-grey-dark);
    font-size: var(--font-size-large);
}
#Idenity-Phone-Form>button{
    display: block;
    margin: 2rem auto;
}
div.Identity-Phone button{
    width: 12rem;
}