#Menu{
    position: absolute;
    bottom: 0.5rem;
    left: calc(50% - 7.5rem);
    display: flex;
    width: 15rem;
    margin: 0.5rem auto 0 auto;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black-light);
}

#Menu-Left{
    z-index: 1;
    border-radius: 0.25rem;
    height: 4rem;
    width: 7.2rem;
    background-image: -webkit-radial-gradient(100% 0, circle, transparent 35%, var(--color-white-dark) 35%, var(--color-white-light)  70%, var(--color-white-dark)  100%);
    background-image: -o-radial-gradient(100% 0, circle, transparent 35%, var(--color-white-dark)  35%, var(--color-white-light)  70%, var(--color-white-dark)  100%);
    background-image: -moz-radial-gradient(100% 0, circle, transparent 35%, var(--color-white-dark)  35%, var(--color-white-light) 70%, var(--color-grey-dark)  100%);
}
#Menu-Left>*{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
#Menu-Left>*>i{
    transform: translateX(calc(8rem * 0.65 * 0.5 - 50%));
}
#Menu-Left>*>span{
    transform: translateX(calc(8rem * 0.65 * 0.5 - 50%));
}
#Menu-Right{
    z-index: 1;
    border-radius: 0.25rem;
    height: 4rem;
    width: 7.2rem;
    background-image: -webkit-radial-gradient(0 0, circle, transparent 35%, var(--color-white-dark) 35%, var(--color-white-light)  70%, var(--color-white-dark) 100%);
    background-image: -o-radial-gradient(0 0, circle, transparent 35%, var(--color-white-dark) 35%, var(--color-white-light)  70%, var(--color-white-dark)  100%);
    background-image: -moz-radial-gradient(0 0, circle, transparent 35%, var(--color-white-dark) 35%, var(--color-white-light)  70%, var(--color-white-dark)  100%);
    position: relative;
}
#Menu-Right>*:not(i){
    width: 100%;
    height: 100%;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
#Menu-Right>*>i{
    transform: translateX(calc(-1 * 8rem * 0.65 * 0.5 + 50%));
}
#Menu-Right>*>span{
    transform: translateX(calc(-1 * 8rem * 0.65 * 0.5 + 50%));
}
#Menu-Center{
    z-index: 2;
    background-image: -webkit-radial-gradient(50% 50%, circle, var(--color-white-light) 25%, var(--color-white-dark) 100%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-2rem) translateX(5rem);
}
#Menu-Center>*{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Menu-Center img{
    height: 2rem;
}
#Menu-Left>*.Active,
#Menu-Center>*.Active,
#Menu-Right>*.Active{
    color: var(--color-red-light);
    font-weight: 600;
}
#Menu-Left>*>*,
#Menu-Center>*>*,
#Menu-Right>*>*{
    transition: all 1s;
}
#Menu-Right>i.KYC{
    position: absolute;
    top: 0rem;
    right: 0.25rem;
    color: var(--color-red-light);
    animation: TextShinning 2s ease-in-out infinite alternate;
}
#Menu.Shopping{
    position: absolute;
    bottom: 0.5rem;
}
#Menu.Shopping>#Menu-Left,
#Menu.Shopping>#Menu-Right{
    opacity: 0.15;
}
#Menu.Shopping>#Menu-Left>*:hover,
#Menu.Shopping>#Menu-Right>*:hover{
    cursor: not-allowed;
}
#Menu.Shopping>#Menu-Center{
    background: var(--color-black-light);
    color: var(--color-gold-light);
    animation: ShopHeartBeat 0.25s ease infinite alternate;
    border-radius: 0;
    transform: scale(0.8) translateY(-1.5rem) translateX(7.5rem) rotate(45deg);
    width: 3rem;
    height: 3rem;
}
#Menu.Shopping>#Menu-Center>p{
    transform: rotate(-45deg) translateY(-0.5rem);
    font-size: var(--font-size-large);
    font-weight: 600;
}
#Menu.Shopping>#Menu-Center::before,
#Menu.Shopping>#Menu-Center::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 3em;
    height: 3rem;
}
#Menu.Shopping>#Menu-Center::before{
    background: var(--color-black-light);
    left: -1.5rem;
    top: 0rem;
    z-index: -1;
}
#Menu.Shopping>#Menu-Center::after{
    background: var(--color-black-light);
    right: 0rem;
    top: -1.5rem;
    z-index: -1;
}
#Menu.Shopping>#Menu-Center:hover{
    cursor: pointer;
}
@keyframes ShopHeartBeat{
    0%{transform: scale(0.8) translateY(-1.5rem) translateX(7.5rem) rotate(45deg);}
    100%{transform: scale(1) translateY(-1.5rem) translateX(6rem) rotate(45deg);}
}