#Account{
    width: 100%;
    height: calc(100% - 5rem);
    padding: 1.5rem 2rem 2.5rem 2rem;
    animation: FadeIn 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#Account>p.Title{
    width: 100%;
    font-size: var(--font-size-extra);
    font-weight: 600;
    letter-spacing: 0.1rem;
    background: linear-gradient(var(--color-black-dark), var(--color-black-light));
    border: 0.5px solid var(--color-black-light);
    box-shadow: 0 0 1rem 0 var(--color-black-dark);
    border-radius: 0.25rem;
    color: var(--color-gold-light);
    margin-bottom: 1rem;
}
#Account-Info{
    width: 100%;
    font-weight: 400;
    background: linear-gradient(rgb(216, 153, 53), rgb(226, 190, 112));
    border: 0.5px solid rgb(216, 153, 53);
    box-shadow: 0 0 1rem 0 rgb(216, 153, 53);
    border-radius: 0.5rem;
    color: var(--color-black-light);
    padding: 0.75rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}
#Account-Info>p.Title{
    font-weight: 600;
    font-size: var(--font-size-large);
}
#Account-Info>div{
    width: 100%;
    max-width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
#Account-Info>div>p:first-child{
    min-width: 10rem;
    text-align: left;
}
#Account-Info>div>p>i{
    width: 2rem;
}
#Account-Info>div>p:last-child>span{
    margin: 0 0.25rem;
}
#Account-Info>div>p.NeedVerify{
    color: var(--color-red-light);
}
#Account-Info>div>p.NeedVerify:hover{
    cursor: pointer;
}
#Account-Info>div>p.Verified{
    color: var(--color-cyan-dark);
}
#Account-Info>div>p.PromoCode{
    color: var(--color-red-light);
}
#Account-Info>div>p.PromoCode>span{
    color: var(--color-cyan-dark);
}
#Account>button{
    width: 100%;
    max-width: 25rem;
    margin-bottom: 1rem;
}
#Account>button.ChangePIN{
    background: linear-gradient(var(--color-black-dark), var(--color-black-light));
    border-color: var(--color-black-dark);
    box-shadow: 0px 0px 1rem 0 var(--color-black-dark);
    color: var(--color-gold-light);
}
#Account>button.KYC{
    background: linear-gradient(var(--color-red-dark), var(--color-red-light));
    border-color: var(--color-red-dark);
    box-shadow: 0px 0px 1rem 0 var(--color-red-dark);
    color: var(--color-gold-light);
}
#Account>button.Logout{
    background: linear-gradient(var(--color-grey-dark), var(--color-grey-light));
    border-color: var(--color-grey-dark);
    box-shadow: 0px 0px 1rem 0 var(--color-grey-dark);
    color: var(--color-black-dark);
}