div.Identity-Passport>button{
    width: 12rem;
}
div.Identity-Passport>div.Browse{
    height: 12rem;
    width: 85%;
    max-width: 30rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
div.Identity-Passport>div.Browse>div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-grey-normal);
    border-radius: 0.5rem;
}
div.Identity-Passport>div.Browse>div>img{
    height: 100%;
}
div.Identity-Passport>div.Browse>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grey-dark);
}
div.Identity-Passport>div.Browse>label:hover{
    cursor: pointer;
}
div.Identity-Passport>div.Browse>label>span{
    white-space: pre-wrap;
    display: inline-block;
    width: 100%;
    text-align: center;
}