#ChangePIN>p.Title{
    margin-bottom: 2rem;
    font-size: var(--font-size-large);
    text-transform: uppercase;
}
#ChangePINForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
#ChangePINForm>label{
    width: 100%;
    max-width: 24rem;
    margin-bottom: 1rem;
    position: relative;
}
#ChangePINForm>label>i{
    width: 3rem;
}
#ChangePINForm>label>input{
    width: calc(100% - 3rem);
    border-color: var(--color-grey-dark);
    color: var(--color-black-dark);
    letter-spacing: 0.2rem;
    text-align: center;
}
#ChangePINForm>label>input.Checked:invalid{
    border-color: var(--color-red-light);
}
#ChangePINForm>label>input::placeholder{
    color: var(--color-black-light);
}
#ChangePINForm>label>span.Symbol{
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    color: var(--color-black-light);
}
#ChangePINForm>label>span.Symbol:hover{
    cursor: pointer;
}
#ChangePINForm>button{
    padding: 0.25rem 1.5rem;
    min-width: 10rem;
    margin-top: 1.5rem;
    font-weight: 600;
}
#ChangePIN-Success{
    margin-bottom: 1.5rem;
    color: var(--color-cyan-dark);
    font-size: var(--font-size-extra);
    font-weight: 600;
}