@keyframes FadeIn{
    0%{opacity: 0;} 100%{opacity: 1;}
}

@keyframes TitleScrollAnimation{
    0%{opacity: 0; max-width: 0;} 
    100%{opacity: 1; max-width: 30rem;}
}

@keyframes PopUpFromBottom{
    0%{transform: translateY(100vh); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

@keyframes HorinzontalShaking{
    0%{transform: translateX(-10%)}
    25%{transform: translateX(10%)}
    50%{transform: translateX(-5%)}
    75%{transform: translateX(5%)}
    100%{transform: translateX(0%)}
}

@keyframes TextShinning{
    0%{filter:brightness(0.75)}
    100%{filter:brightness(1.25)}
}
/*
@keyframes LoadingRotate{
    0%{transform: rotateZ(0deg);} 100%{transform: rotateZ(360deg);}  
}
i.fa-spinner{
    animation: LoadingRotate 4s ease-in-out infinite;
}
*/