button{
    font-size: var(--font-size-normal);
    line-height: 1.25;
    font-weight: 400;
    transition: all 0.5s;
    text-transform: uppercase;
    border-radius: 0.25rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
button:hover{
    cursor: pointer;
    outline: none;
}
button:focus{
    outline: none;
}
button[disabled]:hover{
    cursor: not-allowed;
}
button.button-1{
    margin: 0.5rem 0rem;
    padding: 0.5rem 1.25rem;
    background: linear-gradient(var(--color-gold-dark), var(--color-gold-normal));
    border: 0.1rem solid var(--color-gold-normal);
    box-shadow: 0px 0px 1rem 0 var(--color-gold-dark);
    color: var(--color-white-normal);
}
button.button-1:hover{
    border-color: var(--color-gold-light);
    color: var(--color-white-light);
    box-shadow: 0px 0px 1.5rem 0 var(--color-gold-normal);
}
button.button-2{
    margin: 0.5rem 0rem;
    padding: 0.5rem 1.25rem;
    background: linear-gradient(var(--color-grey-normal), var(--color-grey-light));
    border: 0.1rem solid var(--color-grey-normal);
    box-shadow: 0px 0px 1rem 0 var(--color-grey-normal);
    color: var(--color-black-normal);
}
button.button-2:hover{
    border-color: var(--color-grey-light);
    color: var(--color-black-light);
    box-shadow: 0px 0px 1.5rem 0 var(--color-grey-normal);
}
button.disabled{
    margin: 0.5rem 0rem;
    padding: 0.5rem 1.25rem;
    background-color: var(--color-grey-dark);
    border: 0.1rem solid var(--color-grey-normal);
    color: var(--color-white-dark);
}
button.disabled:hover{
    cursor: not-allowed;
}