div.VerifyEmailNotice{
    margin: 1.25rem 0;
}
div.VerifyEmailNotice>p.Title{
    font-size: var(--font-size-extra);
    color: var(--color-red-lightest);
    margin-bottom: 1.25rem;
}
div.VerifyEmailNotice>p.Description{
    font-size: var(--font-size-normal);
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}
div.VerifyEmailNotice>p.Description>span{
    text-transform: none;
    font-weight: 600;
    color: var(--color-gold-light);
}
div.VerifyEmailNotice>button{
    padding: 0.25rem 1.5rem;
    min-width: 10rem;
}
#Dashboard{
    width: 100%;
    height: 100%;
    position: relative;
    animation: FadeIn 1.5s;
}
