#signup-promo{
    color: var(--color-cyan-lightest);
    font-weight: 600;
    letter-spacing: 0.2rem;
}
#signup-promo::placeholder{
    font-weight: 400;
    letter-spacing: 0;
}
#form-2>div.CheckCondition{
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
#form-2>div.CheckCondition>span>i{
    color: var(--color-gold-light);
    font-weight: 600;
}
#form-2>div.CheckCondition>span>i:hover{
    cursor: pointer;
}
#form-2>div.CheckCondition>input[type='checkbox']{
    display: none;
}
#form-2>div.CheckCondition>label{
    display: block;
    width: 5rem;
    height: 1.5rem;
    background-color: var(--color-grey-dark);
    border-radius: 0.75rem;
    margin: 0;
    position: relative;
    transition: background-color 1.5s;
    margin: 0 0.75rem 0.75rem 0;
}
#form-2>div.CheckCondition>label:hover{
    cursor: pointer;
}
#form-2>div.CheckCondition>label>span{
    padding: 0.75rem;
    font-size: 0;
    background-color: var(--color-white-dark);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 2s;
}
#form-2>div.CheckCondition>input[type='checkbox']:checked+label{
    background-color: var(--color-cyan-light);
}
#form-2>div.CheckCondition>input[type='checkbox']:checked+label>span{
    left: 3.5rem;
}
#Signup>*{
    z-index: 1;
}
#Signup-Background{
    position: absolute;
    top: 50%;
    width: 80%;
    z-index: 0;
    opacity: 0.2;
}