#Identity{
    width: 100%;
    padding: 1.5rem 2rem 0 2rem;
    animation: FadeIn 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#Identity>p.Title{
    width: 100%;
    font-size: var(--font-size-extra);
    font-weight: 600;
    letter-spacing: 0.1rem;
    background: linear-gradient(var(--color-black-normal), var(--color-black-light));
    border: 0.5px solid var(--color-black-light);
    box-shadow: 0 0 1rem 0 var(--color-black-dark);
    border-radius: 0.25rem;
    color: var(--color-gold-light);
    margin-bottom: 3rem;
}
#Identity-Content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: FadeIn 1.5s;
}
#Identity-Content>p{
    width: 100%;
    text-align: justify;
}
#Identity-Content>p.Title{
    font-size: var(--font-size-large);
    font-weight: 500;
    color: var(--color-red-light);
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#Identity-Content>p.Description{
    font-weight: 500;
    margin-bottom: 1.5rem;
}
#Identity-Content>p.Note{
    margin-bottom: 2rem;
    font-size: var(--font-size-small);
}
#Identity-Content.Identity-Legal>button{
    width: 12rem;
}
#Identity-Content.Identity-Country>div.Select{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Identity-Content.Identity-Country>div.Select>div{
    width: 40%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
#Identity-Content.Identity-Country>div.Select>div>img{
    max-width: 100%;
    height: 8rem;
}
#Identity-Content.Identity-Country>div.Select>div>p{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.25rem 0;
    color: var(--color-white-light);
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    transition: 0.5s;
}
#Identity-Content.Identity-Country>div.Select>div:first-child>p{
    background: linear-gradient(var(--color-red-dark), var(--color-red-light));
}
#Identity-Content.Identity-Country>div.Select>div:last-child>p{
    background: linear-gradient(var(--color-blue-dark), var(--color-blue-light));
}
#Identity-Content.Identity-Country>div.Select>div:hover{
    cursor: pointer;
}
#Identity-Content.Identity-Country>div.Select>div:hover>p{
    color: var(--color-gold-light);
    font-size: var(--font-size-normal);
}
#Identity-Content.Identity-Country>div.Select>div:hover>img{
    animation: HorinzontalShaking 0.5s;
}
#Identity-Content.Identity-Country>button{
    width: 12rem;
}
#Identity-Success>p.Title{
    font-size: var(--font-size-large);
    font-weight: 500;
    color: var(--color-green-normal);
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#Identity-Success>p.Description{
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: left;
}
#Identity-Success>p.Note{
    margin-bottom: 2rem;
    font-size: var(--font-size-small);
    text-align: left;
}
#Identity-Success>p.Note>span{
    color: var(--color-cyan-normal);
    font-weight: 600;
}
#Identity-Success>button{
    display: block;
    margin: auto;
    width: 12rem;
}